@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #000;
    color: #fff;
}
*{
    font-family: 'Montserrat', sans-serif;
    transition: .3s all ease-in-out;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
*::-webkit-scrollbar{
    display: none;
}
*::selection{
    background-color: #111;
    color: #999;
}